<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.wat.fitapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome.WelcomeActivity"
            android:label="Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithColor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register.RegisterActivity"
            android:label="Rejestracja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.MainActivity"
            android:label="FitApplication"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.Fragment.AddToSystem.AddToFoodSystemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithColor" />
        <activity
            android:name=".Main.Fragment.Profile.AddMyMealNameActivity"
            android:label="Dodawanie posiłku - etap 1/2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.Fragment.Profile.AddMyMealIngredientsActivity"
            android:label="Dodawanie posiłku - etap 2/2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.Fragment.Profile.AddMyTrainingNameActivity"
            android:label="Dodawanie treningu - etap 1/2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.Fragment.Profile.AddMyTrainingExercisesActivity"
            android:label="Dodawanie treningu - etap 2/2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.Fragment.AddToSystem.AddToTrainingSystemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithColor"></activity>
    </application>

</manifest>